.main-profile {
    min-width: 90%;
    margin: 20px auto;


}


.profile {
    width: 100%;
    min-height: 100%;
    display: flex;




    flex-direction: column;
    flex-grow: 1;
}

.profile-head {
    display: flex;
    flex-basis: 35%;
    justify-content: space-between;
    flex-wrap: wrap;
}




.left-profile {
    width: 65%;
    display: flex;
    flex-direction: column;

}

.left-profile .normal-foto {
    border-top: 2px solid rgba(55, 0, 60, 0.6);
    padding: 10px 0;
    border-bottom: 2px solid rgba(55, 0, 60, 0.6);


    display: flex;
    justify-content: center;
    align-items: center;
}

.left-profile .normal-foto img {
    width: 100px;
    height: 100px;
}

.left-profile .profile-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 20px;
    height: 60px;
    border-bottom: 2px solid rgba(55, 0, 60, 0.6);
    padding-bottom: 5px;

    color: #eee;
}

.left-profile .mini-gallery {
    flex-basis: 50%;
    background-color: blue;
}





.right-profile {
    width: 30%;
    display: flex;
    justify-content: center;

    flex-direction: column;

    border-left: 4px solid rgb(60, 0, 55);
}


.profile-gallery {

    flex-grow: 3;


    display: flex;
    flex-direction: column;
}

.images-gallery {

    flex-basis: 90%;
    flex-grow: 4;

    display: flex;
    justify-content: space-around;
    align-items: center;

    flex-wrap: wrap;


}

.padding-gallery {
    flex-basis: 10%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padding-gallery a {
    border: 1px solid #eee;
    padding: 5px 10px;
    color: #eee;
    margin-right: 10px;
    font-size: 16px;
}


.card {
    display: flex;
    flex-direction: column;
}


.images-gallery .super-card {

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    background-image: linear-gradient(-135deg, rgba(91%, 0%, 32%, 0.8), rgba(55, 0, 60, 0.7));
    border: none;

    flex-wrap: wrap;
    margin: 30px 10px;
    width: 200px;

    border-radius: 5px;

}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.card a {
    display: block;
    width: 100%;
}

.card img {
    border-radius: 5px 5px 0 0;


}

.card-container {
    padding: 2px 16px;
}

.title-card {
    margin: 10px 0;
    text-transform: capitalize;

}

.card p {
    font-size: 14px;
    display: flex;
    justify-content: space-between;
}

.card p span:nth-child(2) {
    font-size: 12px;

}





.menu-button a:hover {
    color: aqua;
    border-color: aqua;
}


.active-page {
    background-color: rgb(55, 0, 60);
}

main .image-container {
    overflow: auto;

    margin: 30px auto;
    height: 100%;
}


.gallery-buttons {
    margin: 10px 30px;
    flex-basis: 100%;
}


.main-button {

    text-align: center;
}


button .fas {
    color: aqua;
}

.main-button #Btn-modal {
    text-align: center;
    width: 120px;
}


.main-button #Btn-modal a.logout {
    color: aqua;

}